---
import Layout from "../layouts/Layout.astro";
import Features from "../components/widgets/Features.astro";
import Content from "../components/widgets/Content.astro";
import Form from "../components/ui/Form.astro";
import { Icon } from "astro-icon/components";
import Button from "../components/ui/Button.astro";

const metadata = {
  title: "Contacto",
  description:
    "Gracias por su interés en PEMSA. Si usted tiene alguna sugerencia, inconformidad, pregunta, servicio de un distribuidor autorizado, por favor háganoslo saber.",
};

const visionText = [
  "Gracias por su interés en PEMSA. Si usted tiene alguna sugerencia, inconformidad, pregunta, servicio de un distribuidor autorizado, por favor háganoslo saber.",
];

const features = [
  {
    title: "Instalaciones",
    description:
      "Av. 33 Pte. 307, Chulavista, 72420 Heroica Puebla de Zaragoza, Pue.",
    icon: "lucide:map-pin",
    iconClass: "bg-red-500/10 text-red-400",
  },
  {
    title: "Teléfono",
    description: "222 141 12 30 / 222 240 63 78",
    icon: "lucide:phone",
    iconClass: "bg-green-500/10 text-green-400",
  },
  {
    title: "Correo",
    description: "atencionaclientes@pem-sa.com",
    icon: "lucide:mail",
    iconClass: "bg-yellow-500/10 text-yellow-400",
  },
  {
    title: "Horario",
    description:
      "Lunes a Viernes: 9:00 - 14:00 15:00 - 17:30 Sábado 9:00 - 14:00",
    icon: "lucide:clock-5",
    iconClass: "bg-blue-500/10 text-blue-400",
  },
];
---

<Layout metadata={metadata}>
  <Content tagline="" title="CONTÁCTANOS" description={visionText} />
  <section
    class="reveal max-w-7xl mx-auto lg:flex items-center flex-col lg:flex-row gap-5 px-2 py-4 sm:px-3 lg:px-4 mb-10"
  >
    <div
      class="flex-1 mx-auto max-w-2xl bg-card border border-border rounded-3xl p-8 shadow-sm m-2"
    >
      <Form />
    </div>

    <div class="flex-1 max-w-2xl mx-auto p-5">
      <h2 class="text-2xl font-bold text-foreground mb-3">
        Estamos aquí para ayudarte
      </h2>
      <p class="text-muted-foreground text-mb mb-5">
        Elige el canal de comunicación que prefieras. Respondemos en menos de 24
        horas.
      </p>
      <div class="mb-10">
        {
          features.map((feature) => (
            <div class="flex gap-3 items-center mt-5">
              {feature.icon && (
                <div
                  class={`w-12 h-12 rounded-full flex items-center justify-center ${feature.iconClass ? feature.iconClass : "bg-primary/10 text-primary"}`}
                >
                  <Icon name={feature.icon} class="w-6 h-6" />
                </div>
              )}
              <div class="flex-1 gap-2 flex">
                <h3 class="text-md font-bold text-foreground">
                  {feature.title}:{" "}
                  <span class="text-md font-normal text-muted-foreground">
                    {feature.description}
                  </span>
                </h3>
              </div>
            </div>
          ))
        }
      </div>
      <ul class="text-lg font-semibold text-foreground">
        <li class="mb-4">
          <a href="/legal" class="hover:underline">Aviso de privacidad</a>
        </li>
      </ul>
    </div>
  </section>
  <div
    class="reveal mx-auto max-w-4xl bg-card border border-border rounded-3xl p-2 shadow-sm mb-12 md:mb-16"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.701016472064!2d-98.21066952410398!3d19.0328919821628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0c6509d16f9%3A0x693c24cd89226708!2sProteccion%20Electronica%20Monterrey%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1772483853352!5m2!1ses-419!2smx"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      class="rounded-3xl"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
