---
import Layout from "../layouts/Layout.astro";
import Content from "../components/widgets/Content.astro";
import Form from "../components/ui/Form.astro";
import { Icon } from "astro-icon/components";


const metadata = {
  title: "Contacto",
  description:
    "Gracias por su interés en PEMSA. Si usted tiene alguna sugerencia, inconformidad, pregunta, servicio de un distribuidor autorizado, por favor háganoslo saber.",
};

const visionText = [
  "Gracias por su interés en PEMSA. Si usted tiene alguna sugerencia, inconformidad, pregunta, servicio de un distribuidor autorizado, por favor háganoslo saber.",
];

const features = [
  {
    title: "Instalaciones",
    description:
      "Av. 33 Pte. 307, Chulavista, 72420 Heroica Puebla de Zaragoza, Pue.",
    icon: "lucide:map-pin",
    iconClass: "bg-red-500/10 text-red-400",
  },
  {
    title: "Teléfono",
    description: "222 141 12 30 / 222 240 63 78",
    icon: "lucide:phone",
    iconClass: "bg-green-500/10 text-green-400",
  },
  {
    title: "Correo",
    description: "atencionaclientes@pem-sa.com",
    icon: "lucide:mail",
    iconClass: "bg-yellow-500/10 text-yellow-400",
  },
  {
    title: "Horario",
    description:
      "Lunes a Viernes: 9:00 - 14:00 15:00 - 17:30 Sábado 9:00 - 14:00",
    icon: "lucide:clock-5",
    iconClass: "bg-blue-500/10 text-blue-400",
  },
];
---

<Layout metadata={metadata}>
  <Content tagline="" title="CONTÁCTANOS" description={visionText} />
  <section
    class="reveal max-w-7xl mx-auto lg:flex items-center flex-col lg:flex-row gap-5 px-2 py-4 sm:px-3 lg:px-4 mb-10"
  >
    <div
      class="relative flex-1 mx-auto max-w-2xl bg-card border border-border rounded-3xl p-8 shadow-sm m-2"
    >
      <Form />
      <div
        id="loader"
        class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 flex items-center justify-center rounded-3xl bg-black/10 p-4 w-full h-full"
      >
        <svg
          aria-hidden="true"
          class="w-8 h-8 w-8 h-8 text-neutral-tertiary animate-spin fill-brand"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"></path><path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"></path></svg
        >
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="flex-1 max-w-2xl mx-auto p-5">
      <h2 class="text-2xl font-bold text-foreground mb-3">
        Estamos aquí para ayudarte
      </h2>
      <p class="text-muted-foreground text-mb mb-5">
        Elige el canal de comunicación que prefieras. Respondemos en menos de 24
        horas.
      </p>
      <div class="mb-10">
        {
          features.map((feature) => (
            <div class="flex gap-3 items-center mt-5">
              {feature.icon && (
                <div
                  class={`w-12 h-12 rounded-full flex items-center justify-center ${feature.iconClass ? feature.iconClass : "bg-primary/10 text-primary"}`}
                >
                  <Icon name={feature.icon} class="w-6 h-6" />
                </div>
              )}
              <div class="flex-1 gap-2 flex">
                <h3 class="text-md font-bold text-foreground">
                  {feature.title}:{" "}
                  <span class="text-md font-normal text-muted-foreground">
                    {feature.description}
                  </span>
                </h3>
              </div>
            </div>
          ))
        }
      </div>
      <ul class="text-lg font-semibold text-foreground">
        <li class="mb-4">
          <a href="/legal" class="hover:underline">Aviso de privacidad</a>
        </li>
      </ul>
    </div>
  </section>
  <div
    class="reveal mx-auto max-w-4xl bg-card border border-border rounded-3xl p-2 shadow-sm mb-12 md:mb-16"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.701016472064!2d-98.21066952410398!3d19.0328919821628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0c6509d16f9%3A0x693c24cd89226708!2sProteccion%20Electronica%20Monterrey%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1772483853352!5m2!1ses-419!2smx"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      class="rounded-3xl"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
