---
import experiencia from "../assets/check/experiencia.png";
import cobertura from "../assets/check/cobertura.png";
import confianza from "../assets/check/confianza.png";
import flexibilidad from "../assets/check/flexibilidad.png";
import calidad from "../assets/check/calidad.png";
import Headline from "./ui/Headline.astro";
import Card from "./ui/Card.astro";
import { Image } from "astro:assets";

const data: {
    title: string;
    description: string;
    icon: ImageMetadata;
    class: string;
}[] = [
    {
        title: "EXPERIENCIA",
        description:
            "Contamos con más 35 años en el mercado de la seguridad electrónica, con personal certificado en las diferentes marcas de equipo que ofrecemos",
        icon: experiencia,
        class: "lg:col-start-1 lg:row-start-1 md:col-start-1 md:row-start-1",
    },
    {
        title: "CONFIANZA",
        description:
            "Todos los servicios son atendidos por personal propio de la empresa",
        icon: confianza,
        class: "lg:col-start-3 lg:row-start-1 md:col-start-2 md:row-start-1",
    },
    {
        title: "COBERTURA",
        description:
            "Servicio a nivel nacional, brindamos atención en donde nos necesitan nuestros clientes",
        icon: cobertura,
        class: "lg:col-start-2 lg:row-start-2 md:col-start-1 md:row-start-2",
    },
    {
        title: "CALIDAD",
        description:
            "Estamos comprometidos en brindar servicios de calidad para satisfacer los requerimientos de nuestros clientes",
        icon: calidad,
        class: "lg:col-start-1 lg:row-start-3 md:col-start-2 md:row-start-2",
    },
    {
        title: "FLEXIBILIDAD",
        description:
            "Trabajamos de la mano con nuestros clientes, ofreciendo soluciones que se adaptan a sus necesidades",
        icon: flexibilidad,
        class: "lg:col-start-3 lg:row-start-3 md:col-start-1 md:row-start-3",
    },
];
---

<div class={`reveal mt-16 p-5 flex flex-col md:gap-16 bg-primary/5`}>
    <Headline
        title="¿Por qué elegirnos?"
        classes={{
            container: "max-w-3xl mx-auto text-center",
        }}
    />
    <div
        class="mx-auto max-w-7xl grid gap-4 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3 w-full"
    >
        {
            data.map((data) => (
                <Card class={data.class}>
                    <h3 class="text-lg text-center font-medium leading-6">
                        {data.title}
                    </h3>
                    <p class="mt-2 text-muted-foreground">{data.description}</p>
                    <Image
                        alt={`${data.icon}`}
                        src={data.icon}
                        width={70}
                        height={70}
                        class={"logos-primary mx-auto mt-4"}
                    />
                </Card>
            ))
        }
    </div>
</div>
