---
import Headline from "./ui/Headline.astro";
import compartamos from "../assets/clients/compartamos.webp";
import dico from "../assets/clients/dico.webp";
import fotl from "../assets/clients/fotl.webp";
import gentera from "../assets/clients/gentera.webp";
import intermex from "../assets/clients/intermex.webp";
import mazda from "../assets/clients/mazda.webp";
import profuturo from "../assets/clients/profuturo.webp";
import optima from "../assets/clients/optima.webp";
import gandhi from "../assets/clients/gandhi.webp";
import telmex from "../assets/clients/telmex.webp";
import acciona from "../assets/clients/acciona.webp";
import cdll from "../assets/clients/cdll.webp";
import cibanco from "../assets/clients/cibanco.webp";
import { Image } from "astro:assets";

const data: { name: string; icon?: ImageMetadata }[] = [
    { name: "Compartamos", icon: compartamos },
    { name: "Dico", icon: dico },
    { name: "frut of the loom", icon: fotl },
    { name: "Gandhi", icon: gandhi },
    { name: "Gentera", icon: gentera },
    { name: "Intermex", icon: intermex },
    { name: "Mazda", icon: mazda },
    { name: "Optima", icon: optima },
    { name: "Profuturo", icon: profuturo },
    { name: "Telmex", icon: telmex },
    { name: "Acciona", icon: acciona },
    { name: "Casa de las lomas", icon: cdll },
    { name: "Ci Banco", icon: cibanco },
];
---

<div class={`reveal mt-16 p-5 mx-auto max-w-7xl flex flex-col md:gap-16`}>
    <Headline
        title="CLIENTES"
        subtitle="Algunos de nuestros clientes satisfechos"
        classes={{
            container: "max-w-3xl mx-auto text-center",
        }}
    />
    <div class="container mx-auto">
        <div
            class="relative flex overflow-x-hidden border-b border-t border-transparent"
        >
            <div
                class="flex animate-[marquee_65s_linear_infinite] whitespace-nowrap"
            >
                <div class="flex items-center justify-around gap-16 px-8">
                    {
                        data.map((client, idx) => (
                            <div class="w-50 h-50 flex flex-col items-center justify-center">
                                {client.icon && (
                                    <Image
                                        alt={`${client.icon}`}
                                        src={client.icon}
                                        class={"img"}
                                    />
                                )}
                                {/* <span class="text-2xl font-bold text-gray-300">
                                    {client.name}
                                </span> */}
                            </div>
                        ))
                    }
                </div>
                <div class="flex items-center justify-around gap-16 px-8">
                    {
                        data.map((client, idx) => (
                            <div class="w-50 h-50 flex flex-col items-center justify-center">
                                {client.icon && (
                                    <Image
                                        alt={`${client.icon}`}
                                        src={client.icon}
                                        class={"img"}
                                    />
                                )}
                                {/* <span class="text-2xl font-bold text-gray-300">
                                    {client.name}
                                </span> */}
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</div>
